body{
    background-image: url("../imagenes/fondo3.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.title{
    background-color: #D5F5E3 ;

    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@font-face{
    font-family: 'frase';
    src: url(../imagenes/frase1.ttf)
}
.frase {
    font-family: frase;
    text-align: center;
    font-weight: bold;
    font-size: 45px;
}
.casa{
    width: 70px;
    float: right;
    margin-left: 100px;
}
.logo{
    width: 70px;
float: left;

}
.izquierda{
    width: 100px;
    margin-right: 35px;
    float: right;
}
.derecha{
    width: 100px;
    margin-left: 35px;
    float: left;
}
.principal{
    display:block;
    margin:auto;
    width: 500px;
    height: 500px;
}